body {
    font-family: Arial;
    /*margin: 0 !important;*/
    height: 100%;
}

/*Ограничим размер контейнера на страницах логина и регистрации*/
.login-register-container {
    max-width: 500px !important;
}

#header {
    padding: 1em 3em 0 3em;
}
#header li {
    padding: 0 1em 0 1em;
}